<%#= include_gon %>
<h1>Admin Dashboard</h1>
<%= form_tag('/schedules/update_holidays') do %>
  <div class="form-group">  
    Holidays: 
    <%= text_field_tag 'holidays', nil, class: 'holidays_input' %>  
  </div>
  <div class="form-group">  
    <%= submit_tag 'Update Holidays' %>  
  </div>
<% end %>
<div class="row">
  <div class="col-md-4">
    <h3>Create a New Cohort</h3>
    
    <%= render 'form' %>
  </div>

  <div class="col-md-5">
    <h3>All Cohorts</h3>

    <%= render @cohorts %>
  </div>

  <div class="col-md-2">
    <h3><%= link_to 'Feature A Post', feature_post_path, class: "btn btn-success" %></h3>
  </div>
</div>
