<h1><%= @cohort.name %> <%= link_to 'create a schedule', new_cohort_schedule_path(@cohort), class: 'btn btn-large btn-primary' %></h1> 
<%= link_to 'edit this cohort', edit_cohort_path(@cohort) %>

<h4>Schedules:</h4>
<% @cohort.schedules.each do |schedule| %>
  <%= link_to schedule.name, cohort_schedule_path(@cohort, schedule) %>
<% end %>

<h4>Add A Student</h4>
<%= render 'students/form', student: @cohort.students.new %>

<%= render 'blogs/form', blog: Blog.new, cohort: @cohort %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Github Username</th>
      <th>Blog</th>
      <th>Latest Post</th>
      <th>Published Date</th>
      <th>edit/delete</th>
    </tr>
  </thead>
  <tbody>
    <%= render @cohort.students.all.order(:last_name) %>
  </tbody>
</table>
