<h1>
<%= @cohort.name %> 
<%= link_to 'create a schedule', new_cohort_schedule_path(@cohort), class: 'btn btn-large btn-primary' %> 
<%= link_to 'edit this cohort', edit_cohort_path(@cohort), class: 'btn btn-large btn-primary' %>
<%= link_to 'get new posts', get_new_posts_path(cohort_id: @cohort.id), class: 'btn btn-large btn-primary', method: 'post' %>
</h1>
<h3>Schedules for this cohort:</h3>

<% @cohort.schedules.each do |schedule| %>
  <%= link_to schedule.name, cohort_schedule_path(@cohort, schedule), class: "btn btn-info btn-xs" %>
  <%= link_to 'x', cohort_schedule_path(@cohort, schedule), method: 'delete', data: {confirm: "Are you sure you want to delete this schedule?"}, class: "btn btn-danger btn-xs" %>
<% end %>

<br>
<br>

<h4>
  Add A Student 
  <span class="toggle-buttons">
    <i class="toggle-on fa fa-plus-circle"></i>
    <i class="toggle-off fa fa-minus-circle"></i>
  </span>
</h4>

<div class="toggleable-form-wrapper">
  <%= render 'users/form', user: @cohort.users.new %>
</div>
<%= render 'blogs/form', blog: Blog.new, cohort: @cohort %>

<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Github Username</th>
      <th>Blog</th>
      <th>Latest Post</th>
      <th>Published Date</th>
      <th>edit/delete</th>
    </tr>
  </thead>
  <tbody>
    <%= render @cohort.users.all.order(:last_name) %>
  </tbody>
</table>
