<h1><%= @cohort.name %></h1> 
<%= link_to 'edit', edit_cohort_path(@cohort) %>

<h4>Add A Student</h4>
<%= render 'students/form', student: @cohort.students.new %>

<%= render 'blogs/form', cohort: @cohort %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Github Username</th>
      <th>Blog</th>
      <th>Latest Post</th>
      <th>Published Date</th>
      <th>edit/delete</th>
    </tr>
  </thead>
  <tbody>
    <%= render @cohort.students.all.order(:last_name) %>
  </tbody>
</table>
