<h3>
  <%= link_to blog.title, blog.full_url %>
  <%= link_to 'edit', edit_blog_path(blog), class: 'btn btn-default btn-sm' %>
  <%= link_to 'delete', blog_path(blog), method: 'delete', class: 'btn btn-default btn-sm', data: {confirm: "Are you sure you want to delete this blog?"} %>
  <%= link_to 'reset', reset_blog_path(blog), method: 'patch', class: 'btn btn-default btn-sm', data: {confirm: "This will delete all associated posts, reset the title and feed url, and fetch new posts. Are you sure?"} %>
</h3>

<% blog.posts.each do |post| %>
  <p>
    <%= link_to post.title, post.url %> - <%= post.published_date.strftime("%m/%d/%Y") %>
  <p>
<% end %>

