<%= form_for blog, :html => {:class => 'form-inline', style: 'display: inline-block;'} do |f| %>
  <div class='form-group'>
  <% if cohort %>
    <%= f.collection_select :user_id, cohort.users, :id, :full_name_or_github_name, {:prompt=>true}, {class: 'form-control'} %>
  <% end %>
  </div>
  <%= f.label :url, 'Blog url:' %>
  <%= f.text_field :url, placeholder: 'full url including http', pattern:'^htt(p|ps):\/\/.+', class: 'form-control' %>
  <%= f.submit class: 'form-control' %>
<% end %>
