<tr>
  <td><%= student.first_name %></td>
  <td><%= student.last_name %></td>
  <td><%= student.email %></td>
  <td><%= student.github_username %></td>

  <% if student.blog %>
    <td><%= link_to student.blog.feed.title, student.blog.url %>
    <br>
    <%= link_to 'edit', edit_blog_path(student.blog), class: 'btn btn-default btn-xs' %>
    <%= link_to 'delete', blog_path(student.blog), method: 'delete', class: 'btn btn-default btn-xs' %>
    </td>
  <% else %>
    <td> - </td>
  <% end %>

  <% if student.blog && student.blog.feed.entries.any? %>
    <td><%= link_to student.truncated_latest_entry_title, student.blog.latest_post.url, title: student.blog.latest_post.title %></td>
    <td><%= student.blog.latest_post.published_date.strftime("%m/%d/%Y") %></td>
  <% else %>
    <td> - </td>
    <td> - </td>
  <% end %>

  <td>
    <%= link_to 'edit', edit_cohort_student_path(student.cohort, student), class: 'btn btn-default btn-xs' %>
    <%= link_to 'delete', cohort_student_path(student.cohort, student), method: 'delete', class: 'btn btn-default btn-xs' %>
  </td>
</tr>
