<%= form_for user do |f| %>
  <%= f.hidden_field :cohort_id, value: user.cohort_id %>
  <div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class:"form-control" %>
  </div>

  <div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class:"form-control" %>
  </div>

  <div class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email, class:"form-control" %>
  </div>

  <div class="form-group">
  <%= f.label :github_username %>
  <%= f.text_field :github_username, class:"form-control" %>
  <%= f.hidden_field :cohort_id, value: user.cohort_id %>
  </div>
  
  <div class="form-group">
  <%= f.submit class:"form-control" %>
  </div>
<% end %>
