<div class="well">
  <legend>
    <%= link_to schedule.name, cohort_schedule_path(schedule.cohort, schedule) %>
  </legend>
    
  <div class="row">
    <div class="col-md-12">
      <%= render 'progress', schedule: schedule %>
    </div>
  </div>

  <ul>
  <% @user.blog_assignments_for_schedule(schedule).each do |blog_assignment| %>
    <p class="large-font">
      <%= render 'schedules/greenlight', blog_assignment: blog_assignment %>
      <%= blog_assignment.due_date.strftime("%A, %m/%d/%Y") %>: 
      <%= blog_assignment.posts_since_previous.collect {|entry| (link_to entry.title, entry.url) + " (#{entry.published_date.strftime("%m/%d/%Y")})" }.to_sentence.html_safe %>
    </p>
  <% end %>
  </ul>
</div>
