<tr>
  <td><%= link_to user.full_name_or_github_name, user_path(user) %></td>
  <td><%= user.email %></td>
  <td><%= user.github_username %></td>

  <% if user.blog %>
    <td class="extra-margin-bottom">
      <div>
        <%= link_to user.blog.title, user.blog.full_url %>
      </div>
      <%= link_to 'edit', edit_blog_path(user.blog, cohort: cohort), class: 'btn btn-default btn-xs' %>
      <%= link_to 'delete', blog_path(user.blog), method: 'delete', class: 'btn btn-default btn-xs', data: {confirm: "Are you sure you want to delete this blog?"} %>
      <%= link_to 'reset', reset_blog_path(user.blog), method: 'patch', class: 'btn btn-default btn-xs', data: {confirm: "This will delete all associated posts, reset the title and feed url, and fetch new posts. Are you sure?"} %>
    </td>
  <% else %>
    <td> - </td>
  <% end %>

  <% if user.blog && user.blog.posts.any? %>
    <td><%= link_to truncate(user.blog.latest_post.title, length: 30), user.blog.latest_post.url, title: user.blog.latest_post.title %></td>
    <td><%= user.blog.latest_post.published_date.strftime("%m/%d/%Y") %></td>
  <% else %>
    <td> - </td>
    <td> - </td>
  <% end %>

  <td id="edit-or-delete-user">
    <%= link_to 'edit', edit_user_path(user), class: 'btn btn-default btn-xs' %>
    <% if cohort %>
      <%= render 'users/remove_from_cohort', user: user, cohort: @cohort %>
    <% else %>
      <%= render 'users/delete', user: user %>
    <% end %>
  </td>
</tr>
