<div class="well">
  <legend>
    <%= link_to schedule.name, cohort_schedule_path(schedule.cohort, schedule) %>
  </legend>
    
  <div class="row">
    <div class="col-md-12">
      <%= render 'progress', schedule: schedule %>
    </div>
  </div>
  <% @user.blog_assignments_for_schedule(schedule).order(:due_date).each do |blog_assignment| %>
    <p class="large-font">
      <% if current_user.admin %>
        <a data-toggle="modal" href="#selectPostModal-<%= blog_assignment.id %>" class="btn btn-default btn-xs">choose post</a>
      <% end %>
      
      <%= render 'schedules/greenlight', blog_assignment: blog_assignment %>
      <%= blog_assignment.due_date.strftime("%A, %m/%d/%Y") %>: 
      <%= blog_assignment.posts_since_previous.collect {|entry| (link_to entry.title, entry.url) + " (#{entry.published_date.strftime("%m/%d/%Y")})" }.to_sentence.html_safe %>
      
      <% if current_user.admin %>
        <%= render 'blog_assignments/select_post_for_blog_assignment_modal', blog_assignment: blog_assignment %>
      <% end %>
    </p>
  <% end %>
</div>
