<% if @user.blog && !@user.blog.feed_url %>
  <div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Your blog has no feed url!</h4>
    <div class="panel-body">
      <%= form_for @user.blog, html: {class: 'form-inline'} do |f| %>
        <%= f.label :feed_url, 'Please enter your feed url here:' %>
        <%= f.text_field :feed_url, placeholder: 'full url including http', pattern: '^htt(p|ps):\/\/.+', class: "form-control" %> 
        <%= f.submit "Submit", class: "btn btn-default btn-sm" %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row extra-margin-bottom">
  <div class="col-md-12">
    <h1>
      <%= @user.full_name_or_github_name %> 
      <%= link_to 'Get New Posts', get_new_posts_for_user_path(id: @user.id), class: 'btn btn-success pull-right' %>
    </h1>
  </div>
</div>

<% @user.schedules.each do |schedule| %>
  <%= render 'user_schedule', schedule: schedule %>
<% end %>

<div class="row">

  <h2 id="blogs-header" class="col-md-1">
    Blogs
  </h2>

  <div id="add-blog" class="col-md-6">
    <%= link_to "Add A Blog", "#", class: 'btn btn-default btn-sm', id: 'toggle-blog-form' %>

    <%= form_for Blog.new, html: {class: 'form-inline', id: 'hidden-blog-form'} do |f| %>
      <%= f.label :url %>
      <%= f.text_field :url, placeholder: 'full url including http', class: 'form-control', pattern:'^htt(p|ps):\/\/.+' %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.submit class: 'form-control' %>
    <% end %>
  </div>

</div>

<%= render @user.blogs %>
