<div class="row">
  <h1>
    <%= @user.full_name_or_github_name %> 
    <%= link_to 'Get New Posts', get_new_posts_for_user_path(id: @user.id), class: 'btn btn-success pull-right' %>
  </h1>
</div>

<br>

<% @user.schedules.each do |schedule| %>
  <legend>
    <%= link_to schedule.name, cohort_schedule_path(schedule.cohort, schedule) %>

  </legend>
  <h3>Progress</h3>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%= @user.percent_blog_assignments_completed(schedule) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @user.percent_blog_assignments_completed(schedule) %>%;">
      <%= @user.percent_blog_assignments_completed(schedule).round(2) %>%
    </div>
  </div>

  <br>

  <ul>
  <% @user.blog_assignments(schedule).each do |blog_assignment| %>

    <p style="font-size: 2em;">
      <%= render 'schedules/greenlight', blog_assignment: blog_assignment %>
      <%= blog_assignment.due_date.strftime("%A, %m/%d/%Y") %>: 
      <%= link_to blog_assignment.most_recent_post_since_previous.title, blog_assignment.most_recent_post_since_previous.url if blog_assignment.most_recent_post_since_previous %>
    </p>
  <% end %>
  </ul>
<% end %>
<h2 style="height: 45px;">
  Blogs
  <span style="font-size: 0.5em; vertical-align: middle;">
  <%= link_to "Add A Blog", "#", class: 'btn btn-default btn-sm', id: 'toggle-blog-form' %>
  <%= form_for Blog.new, html: {class: 'form-inline', style: 'display: inline-block;', id: 'hidden-blog-form'} do |f| %>
    <%= f.label :url %>
    <%= f.text_field :url, class: 'form-control' %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.submit class: 'form-control' %>
  <% end %>
  </span>
</h2>

<% @user.blogs.each do |blog| %>
  <h3>
  <%= link_to blog.title, blog.url %>
  <%= link_to 'edit', edit_blog_path(blog), class: 'btn btn-default btn-sm' %>
  <%= link_to 'delete', blog_path(blog), method: 'delete', class: 'btn btn-default btn-sm', data: {confirm: "Are you sure you want to delete this blog?"} %>
  </h3>
  <ul>
  <% blog.posts.each do |post| %>
    <li style="margin-bottom: 5px;">
      <%= link_to post.title, post.url %> - <%= post.published_date.strftime("%m/%d/%Y") %>
    </li>
  <% end %>
  </ul>
<% end %>
