<div class="row">
  <h1>
    <%= @user.full_name_or_github_name %> 
    <%= link_to 'Get New Posts', get_new_posts_for_user_path(id: @user.id), class: 'btn btn-success pull-right' %>
  </h1>
</div>

<br>

<% @user.schedules.each do |schedule| %>
  <%= render 'user_schedule', schedule: schedule %>
<% end %>

<h2 style="height: 45px;">
  Blogs
  <span style="font-size: 0.5em; vertical-align: middle;">
    <%= link_to "Add A Blog", "#", class: 'btn btn-default btn-sm', id: 'toggle-blog-form' %>

    <%= form_for Blog.new, html: {class: 'form-inline', style: 'display: inline-block;', id: 'hidden-blog-form'} do |f| %>
      <%= f.label :url %>
      <%= f.text_field :url, class: 'form-control' %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.submit class: 'form-control' %>
    <% end %>
  </span>
</h2>

<%= render @user.blogs %>
