<%= form_for [@cohort, @schedule] do |f| %>
  <div class="form-group">
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'Back', :back, class: 'btn btn-default' %>
    </div>
    <br>
    <%= f.label :name, 'Schedule Name' %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :end_date %>
    <%= f.date_field :end_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :frequency %>:
    each person should blog once every <%= f.number_field :frequency, class: "form-control", style:"display: inline; width: 10%;" %> days
  </div>

  <% if @schedule.persisted? %>
    <%= render 'blog_assignments_form', f: f %>
  <% end %>
<% end %>

