<h1><%= @schedule.name %></h1>
<%= link_to 'edit', edit_cohort_schedule_path(@schedule.cohort, @schedule) %>
<br>
<br>
<p>
<strong>Cohort: </strong>
<%= @schedule.cohort.name %>
</p>

<p>
<strong>Start Date: </strong>
<%= @schedule.start_date %>
</p>

<p>
<strong>End Date: </strong>
<%= @schedule.end_date %>
</p>

<p>
Students should blog once every <%= @schedule.frequency %> days.
</p>

<%= form_tag(generate_blog_rotation_path(id: @schedule.id), {method: :post}) do %>
  <%= select_tag "priority", options_for_select(["select a priority", "consistent number of blogs per day", "adhere to specified frequency"], selected: flash[:priority] || "select a priority") %>
  <%= submit_tag 'Generate Blog Rotation', class: 'btn btn-large btn-primary' %>
<% end %>

<% @schedule.weekdays_that_arent_holidays.each do |day| %>
  <h3><%= day.strftime("%A, %m/%d") %></h3>
  <% @schedule.blog_assignments.where(due_date: day).each do |blog_assignment| %>
    <p><%= blog_assignment.student.full_name_or_github_name %><p>
  <% end %>
<% end %>
