<h1><%= @schedule.name %></h1>

<p>
<strong>Cohort: </strong>
<%= @schedule.cohort.name %>
</p>

<p>
<strong>Start Date: </strong>
<%= @schedule.start_date %>
</p>

<p>
<strong>End Date: </strong>
<%= @schedule.end_date %>
</p>

<p>
Students should blog once every <%= @schedule.frequency %> days.
</p>
