<h1>Choose a post to publish!</h1>
<div class="form-group">
<h3><%= select_tag "search options", options_for_select(["Search by title", "Search by author"]), class: 'form-control' %></h3>
<%= text_field_tag 'query', nil, placeholder: 'enter search term', class: 'form-control' %>
</div>
<ul>
<% @posts.all.each do |post| %>
  <li class="post">
    <span class="post-title"><%= post.title %></span>: written by 
    <span class="post-author"><%= post.user.full_name_or_github_name %></span> on 
    <%= post.published_date.strftime("%m/%d/%Y") %> <%= link_to 'publish this post', publish_post_path(id: post.id), data: {confirm: "This will publish #{post.title} to your WordPress blog with 'draft' status. Are you sure?"} %>
  </li>
<% end %>
</ul>
