<h1>Create Your Blog Rotation Manually</h1>

<%= form_for [@schedule.cohort, @schedule] do |f| %>
  <%= f.fields_for :blog_assignments do |blog_assignments_form| %>
    <% @schedule.weekdays_that_arent_holidays.each do |day| %>
      <h4><%= blog_assignments_form.label :due_date, day.strftime("%m/%d/%Y") %></h4>
      <% 5.times do %>
        <%= blog_assignments_form.collection_select :student_id, @schedule.cohort.students, :id, :full_name_or_github_name, prompt: true %><br>
      <% end %>
    <% end %>
  <% end %>
  <%= f.submit 'Create Blog Rotation' %>
<% end %>
