<nav class="nav navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Flatiron Blogger', root_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <% if current_user %>

          <li><%= link_to "Hi #{current_user.first_name_or_github_name}! See your profile.", user_path(current_user) %></li>

          <% if current_user.admin %>

            <li><%= link_to 'Admin Dashboard', cohorts_path %></li>
            <li><%= link_to 'All Users', users_path %></li>

          <% end %>

          <li><%= link_to 'Magazine', posts_path %></li>
          <li><%= link_to 'Sign Out', logout_path %></li>
          
        <% end %>
      </ul>
    </div>
  </div>
</nav>

