<!DOCTYPE html>
<html>
<head>
  <title>FlatironBlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <%= favicon_link_tag 'flatiron_school_slashes_transparent_background.png' %>
</head>
<body>

<div class="nav navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Flatiron Blogger', root_path, class: 'navbar-brand' %>
    </div>
  </div>
</div>

<div class="container">
<%= yield %>
</div>

</body>
</html>
